*.avi
random/*
reading/*
*.pdf
*.editorconfig
*.xml
*.slxc
~*.docx
checksum*
varInfo.mat
*.json
*.png
*.jpg
*.mp4
*.dmr
ClassProject/simulink/resources/*
ClassProject/simulink/slprj/*
*.exp
*.lib
*.mexw64